a,
h1#title {
	transition: 0.5s;
}

.links a {
  text-decoration: underline;
}

#experience a,
body {
	font-weight: 400;
}

#projects li,
li,
p {
	margin-bottom: 1em;
}

#projects li .date,
a,
body {
	color: #000;
}

body {
/* 	font-family: "Neue Montreal Mono", monospace; */
	font-family: "Space Mono", monospace;
	margin: 1rem auto;
	padding: 1rem;
	max-width: 60rem;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	line-height: 1.6;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))
			center/180px 180px,
		url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="140" height="140" viewBox="0 0 140 140"><line x1="0" y1="0" x2="0" y2="140" stroke="rgba(0, 0, 0, 0.1)" stroke-width="2" stroke-dasharray="3 3"/><line x1="0" y1="0" x2="140" y2="0" stroke="rgba(0, 0, 0, 0.1)" stroke-width="2" stroke-dasharray="3 3"/></svg>')
			center/180px 180px;
	font-size: 1.1em;
}

main {
	display: block;
}

::selection {
	background-color: transparent;
	color: #A60321;
}

h1 {
	font-size: 3em;
	font-weight: 700;
	margin-bottom: 0;
	width: fit-content;
}

a,
b,
h2 {
	font-weight: 500;
}

a:hover,
h1#title:hover {
	transform: skewX(-20deg);
}

h2 {
	font-size: 1.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

a {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

hr {
	border: none;
	border-top: 1px solid #ccc;
	margin: 1em 0;
}

#projects,
ul {
	padding-left: 20px;
	list-style-type: none;
}

li {
	margin-bottom: 0.5em;
}

#experience li {
	margin-bottom: 1em;
}

#experience li div {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.experience-description {
	margin-left: 1.5em;
	font-size: 0.9em;
	color: #555;
	margin-top: 0.5em;
}

.experience-title {
	display: flex;
	justify-content: space-between;
}

#projects li {
	color: grey;
}

.project-image {
	width: 500px;
	height: auto;
	position: absolute;
	z-index: 1000;
	pointer-events: none;
	display: none;
	box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

#projects li::marker {
	color: #000;
}

#projects li:hover .project-image {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#research span.pub-info{
  color: grey;
}

@media screen and (max-width: 750px) {
	body {
		font-size: 0.9em;
	}

	#experience-date {
		display: none;
	}
}
