a,
h1#title {
	transition: transform 0.5s ease;
}

.links a {
	text-decoration: underline;
}

#experience a,
body {
	font-weight: 400;
}

#projects li,
li,
p {
	margin-bottom: 1em;
}

#projects li .date,
a,
body,
#projects li,
#experience li,
.experience-description,
.experience-title span,
.pub-info {
	color: black;
}

body {
	/* 	font-family: "Neue Montreal Mono", monospace; */
	font-family: "Space Mono", monospace;
	margin: 1rem auto;
	padding: 1rem;
	max-width: 60rem;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	line-height: 1.6;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))
			center/180px 180px,
		url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="140" height="140" viewBox="0 0 140 140"><line x1="0" y1="0" x2="0" y2="140" stroke="rgba(0, 0, 0, 0.1)" stroke-width="2" stroke-dasharray="3 3"/><line x1="0" y1="0" x2="140" y2="0" stroke="rgba(0, 0, 0, 0.1)" stroke-width="2" stroke-dasharray="3 3"/></svg>')
			center/180px 180px;
	font-size: 1.1em;
        transition: background-color 0.2s ease;
}

main {
	display: block;
}

::selection {
	background-color: transparent;
	color: #a60321;
}

h1 {
	font-size: 3em;
	font-weight: 700;
	margin-bottom: 0;
	width: fit-content;
}

a,
b,
h2 {
	font-weight: 500;
}

a:hover,
h1#title:hover {
	transform: skewX(-20deg);
}

h2 {
	font-size: 1.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

a {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

hr {
	border: none;
	border-top: 1px solid #ccc;
	margin: 1em 0;
}

#projects,
ul {
	padding-left: 20px;
	list-style-type: none;
}

li {
	margin-bottom: 0.5em;
}

#experience li {
	margin-bottom: 1em;
}

#experience li div {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.experience-description {
	margin-left: 1.5em;
	font-size: 0.9em;
	color: grey;
	margin-top: 0.5em;
}

.experience-title {
	display: flex;
	justify-content: space-between;
}

#projects li {
	color: grey;
}

.project-image {
	width: 500px;
	height: auto;
	position: absolute;
	z-index: 1000;
	pointer-events: none;
	display: none;
	box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
	border-radius: 15px;
}

#projects li::marker {
	color: black;
}

#projects li:hover .project-image {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#research span.pub-info {
	color: grey;
}

@media screen and (max-width: 750px) {
	body {
		font-size: 0.9em;
	}

	#experience-date {
		display: none;
	}
}

body.dark-mode {
  color: #feb501;
  transition: background-color 0.2s ease;
  background-color: #320C4F;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22140%22%20height%3D%22140%22%20viewBox%3D%220%200%20140%20140%22%3E%3Cline%20x1%3D%220%22%20y1%3D%220%22%20x2%3D%220%22%20y2%3D%22140%22%20stroke%3D%22rgb(89, 41, 126)%22%20stroke-width%3D%222%22%20stroke-dasharray%3D%223%203%22/%3E%3Cline%20x1%3D%220%22%20y1%3D%220%22%20x2%3D%22140%22%20y2%3D%220%22%20stroke%3D%22rgb(89, 41, 126)%22%20stroke-width%3D%222%22%20stroke-dasharray%3D%223%203%22/%3E%3C/svg%3E');
  background-position: center;
  background-size: 180px 180px;
}

body.dark-mode a,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode li,
body.dark-mode .experience-description,
body.dark-mode .experience-title span,
body.dark-mode .date,
body.dark-mode .pub-info,
body.dark-mode #projects li a,
body.dark-mode #projects li span,
body.dark-mode #experience li {
	color: #feb501;
}

body.dark-mode p, 
body.dark-mode li,
body.dark-mode #research .pub-info {
  color: #D56DF8 !important;
}

body.dark-mode .project-image {
	box-shadow: rgba(254, 181, 1, 0.5) 0 0 10px 2px;
}

body.dark-mode h1,
body.dark-mode h2 {
	font-family: "OT 2049", sans-serif;
}

#dark-mode-toggle {
	position: absolute;
	top: 10px;
	right: 10px;
	background: black;
	color: #feb501;
	border: 2px solid #feb501;
	padding: 10px;
	cursor: pointer;
	z-index: 1001;
	font-family: "Space Mono", monospace;
	transition: background-color 0.4s ease, transform 0.4s ease;
}

#dark-mode-toggle:hover {
	background: #feb501;
	color: black;
	transform: skew(-5deg);
  animation: glitch 0.7s;
}

@keyframes glitch {
	0% {
		transform: translate(0);
		opacity: 1;
	}
	10% {
		transform: translate(-3px, -3px) skew(-1deg);
		opacity: 0.8;
	}
	20% {
		transform: translate(5px, 2px) skew(2deg);
		opacity: 0.7;
	}
	30% {
		transform: translate(-10px, 3px) skew(-2deg);
		opacity: 1;
	}
	40% {
		transform: translate(7px, -5px) skew(1deg);
		opacity: 0.9;
	}
	50% {
		transform: translate(-2px, 1px) skew(-1deg);
		opacity: 0.6;
	}
	60% {
		transform: translate(3px, -3px) skew(1deg);
		opacity: 1;
	}
	70% {
		transform: translate(0, 0) skew(0deg);
		opacity: 1;
	}
	80% {
		transform: translate(-5px, 4px) skew(-1deg);
		opacity: 0.7;
	}
	90% {
		transform: translate(5px, -5px) skew(1deg);
		opacity: 0.9;
	}
	100% {
		transform: translate(0, 0) skew(0deg);
		opacity: 1;
	}
}

#dark-mode-toggle:active {
	transform: scale(0.95);
}
