* {margin: 0; padding:0; box-sizing: border-box;}
*, :after, :before {box-sizing: inherit;}

html {
  overflow-x: hidden;
}

:root {
  --red: rgba(211, 87, 91, 0.81);
  --red-glow: rgba(211, 87, 91, 0.91);
  --white-glow: rgba(255, 255, 255, 0.91);
  --red-scanline: rgba(204, 94, 98, 0.2);
  --black-scanline: rgba(1, 1, 1, 0.9);
  --black-hover-background: rgba(0, 0, 0, 0.25);
  --blue: #61e4fa;
  --yellow: #f7f500;
  --text-shadow: rgb(0, 208, 255);
}

@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
}

body {
  max-width: 100%;
  height: 850px;
  margin: 0px;
  top: 0px;
  bottom: 0px;
  /* background: linear-gradient( #61323B, #141C24 ); */
  background: black fixed !important;
  font-family: cyber;
  cursor: url('1 - Normal Select.cur'), auto;
}

body .cybr-btn + .cybr-btn {
  margin-top: 2rem;
}

.main {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: 41%
}

.main h2{
  font-family: cyber;
  font-size: 50px;
  color:white; text-shadow: 0px 0px 3px var(--white-glow)
}

.cybr-btn {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
  --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
  --primary-hue: 0;
  --primary-lightness: 50;
  --color: hsl(0, 0%, 100%);
  --font-size: 12px;
  --shadow-primary-hue: 180;
  --label-size: 20px;
  --shadow-secondary-hue: 60;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
  --border: 4px;
  --shimmy-distance: 5;
  --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
  --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
  --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
  --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
  font-family: 'Cyber', sans-serif;
  color: white;
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  font-size: var(--font-size);
  outline: transparent;
  letter-spacing: 2px;
  position: relative;
  font-weight: 700;
  border: 0;
  transition: background 0.2s;
  width: 175px; 
  height: 80px; 
  margin-top: -10%; 
  margin-bottom:-18%; 
	font-size: 20px
}

.cybr-btn:hover {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.8%));
}
.cybr-btn:active {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.6%));
}

.cybr-btn:after,
.cybr-btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip);
  z-index: -1;
}

.cybr-btn:before {
  background: var(--shadow-primary);
  transform: translate(var(--border), 0);
}

.cybr-btn:after {
  background: var(--primary);
}

.cybr-btn__tag {
  position: absolute;
  padding: 1px 4px;
  letter-spacing: 1px;
  line-height: 1;
  bottom: 20%;
  right: 5%;
  left:148px; 
  font-size: 12px;
  color: white; 
  margin-bottom:-13%;
}

.cybr-btn__glitch {
  position: absolute;
  top: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  background: var(--shadow-primary);
  text-shadow: 20px 20px var(--shadow-primary), -20px -20px var(--shadow-secondary);
  clip-path: var(--clip);
  animation: glitch 2s infinite;
  display: none;
}

.cybr-btn:hover .cybr-btn__glitch {
  display: block;
}

.cybr-btn__glitch:before {
  content: '';
  position: absolute;
  top: calc(var(--border) * 1);
  right: calc(var(--border) * 1);
  bottom: calc(var(--border) * 1);
  left: calc(var(--border) * 1);
  clip-path: var(--clip);
  background: var(--primary);
  z-index: -1;
}

.cybr-btn:nth-of-type(2) {
  --primary-hue: 260;
}

.dropbtn {

}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 3;
  margin-left:30%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  font-family: cyber;
  width: 165px; 
  top: 61px; 
  left: 14px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 1001;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.hidden {
  opacity: 0;
}

#textBody{
  width: 75%;
  position: relative;
  opacity: 1; 
  font-size: 20px
}

.my-augfiguration {
  --aug-tr: 25px;
  --aug-bl: 57px;
  --aug-br: 25px;
  --aug-br-inset2: 40%;
  --aug-border-all: 10px;
  --aug-border-bg: linear-gradient(to botto...);
  --aug-inlay-all: 10px;
  --aug-inlay-bg: #fbe806;
  background: transparent;
  color: whitesmoke;
  height: 450px;
  width: 950px;
  text-align: center;
  align-content: center;
  font-family: cyber;
  margin-top: 10%;
  margin-left: 2%;
  opacity:0.6; 
  z-index: -1; 
  display: inline-block;
  background: repeating-linear-gradient(
    to bottom,
    transparent 0%,
    var(--red-scanline) 1px,
    var(--red-scanline) 3px,
    var(--red-scanline) 5px,
    var(--red-scanline) 4px,
    transparent 0.5%
  ),
  repeating-linear-gradient(
    to left,
    var(--black-scanline) 100%,
    var(--black-scanline) 100%
  );
}

.my-augfiguration2 {
  --aug-tr: 25px;
  --aug-bl: 57px;
  --aug-br: 25px;
  --aug-br-inset2: 40%;
  --aug-border-all: 10px;
  --aug-border-bg: linear-gradient(to botto...);
  --aug-inlay-all: 10px;
  --aug-inlay-bg: #fbe806;
  background: transparent;
  color: whitesmoke;
  height: 550px;
  width: 950px;
  text-align: center;
  align-content: center;
  font-family: cyber;
  margin-top: 10%;
  margin-left: 2%;
  opacity:0.6; 
  z-index: -1;
  display:inline-block;
  background: repeating-linear-gradient(
    to bottom,
    transparent 0%,
    var(--red-scanline) 1px,
    var(--red-scanline) 3px,
    var(--red-scanline) 5px,
    var(--red-scanline) 4px,
    transparent 0.5%
  ),
  repeating-linear-gradient(
    to left,
    var(--black-scanline) 100%,
    var(--black-scanline) 100%
  );
}

.my-augfiguration3 {
  --aug-tr: 25px;
  --aug-bl: 57px;
  --aug-br: 25px;
  --aug-br-inset2: 40%;
  --aug-border-all: 10px;
  --aug-border-bg: linear-gradient(to botto...);
  --aug-inlay-all: 10px;
  --aug-inlay-bg: #fbe806;
  background: transparent;
  /* color:#88414C; */
  color: whitesmoke;
  height: 600px;
  width: 950px;
  text-align: center;
  align-content: center;
  font-family: cyber;
  margin-top: 10%;
  margin-left: 2%;
  opacity:0.6; 
  z-index: -1; 
  display: inline-block;
  background: repeating-linear-gradient(
    to bottom,
    transparent 0%,
    var(--red-scanline) 1px,
    var(--red-scanline) 3px,
    var(--red-scanline) 5px,
    var(--red-scanline) 4px,
    transparent 0.5%
  ),
  repeating-linear-gradient(
    to left,
    var(--black-scanline) 100%,
    var(--black-scanline) 100%
  );
}

.mixin-set [data-augmented-ui] {
  width: 240px;
  height: 220px;
  margin-left: auto;
  margin-right: auto;
  /* background: linear-gradient(to bottom right, orange, gold); */
  background: repeating-linear-gradient(
    to bottom,
    transparent 0%,
    var(--red-scanline) 1px,
    var(--red-scanline) 3px,
    var(--red-scanline) 5px,
    var(--red-scanline) 4px,
    transparent 0.5%
  ),
  repeating-linear-gradient(
    to left,
    var(--black-scanline) 100%,
    var(--black-scanline) 100%
  );
}

@keyframes glitch {
  0% {
    clip-path: var(--clip-one);
  }
  2%, 8% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  6% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  9% {
    clip-path: var(--clip-two);
    transform: translate(0, 0);
  }
  10% {
    clip-path: var(--clip-three);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  13% {
    clip-path: var(--clip-three);
    transform: translate(0, 0);
  }
  14%, 21% {
    clip-path: var(--clip-four);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  25% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  30% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  35%, 45% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * -1%));
  }
  40% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * 1%));
  }
  50% {
    clip-path: var(--clip-six);
    transform: translate(0, 0);
  }
  55% {
    clip-path: var(--clip-seven);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  60% {
    clip-path: var(--clip-seven);
    transform: translate(0, 0);
  }
  31%, 61%, 100% {
    clip-path: var(--clip-four);
  }
}


.menu {
  display: inline-block;
  width: 400px;
  height: 100%;
  background: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      var(--red-scanline) 1px,
      var(--red-scanline) 3px,
      var(--red-scanline) 5px,
      var(--red-scanline) 4px,
      transparent 0.5%
    ),
    repeating-linear-gradient(
      to left,
      var(--black-scanline) 100%,
      var(--black-scanline) 100%
    );
  margin-left: 20%; 
  margin-top: 15%; 
  z-index: 1000; 
  color:white
}

.menu ul {
  list-style-type: none;
  padding: 0px 25px;
}

.menu ul li {
  text-transform: uppercase;
  cursor: pointer;
  /* layout */
  position: relative;
  padding: 10px;
  /* margin: 15px 0px; */
  overflow: hidden;
  width: 350px;
  height: 54.5px;
  clip-path: polygon(350px 0px, 350px 29px, 322px 57px, 0px 57px, 0px 0px);

  /* font */
  color: var(--red);
  font-size: 26px;
  text-shadow: 0px 0px 3px var(--red-glow);

  /* Border */
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  /* Animation */
  transition: color 1s ease-out;
  transition: border-color 1s ease-out;
}

.menu ul li::after {
  /* Layout */
  content: "";
  position: absolute;
  bottom: -17px;
  right: -17px;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);

  /* Border */
  border-width: 2px;
  border-style: solid;
  border-color: transparent;

  /* Animation */
  transition: color 1s ease-out;
  transition: border-color 1s ease-out;
}

.menu ul li:hover::after,
.menu ul li:hover {
  color: var(--blue);
  background: var(--black-hover-background);
  
  border-color: var(--blue);

  transition: color 0.23s linear;
  transition: border-color 0.23s linear;
}

.sidenav {
  height: 100%;
  width: 260px;
  margin-left: -5%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#hidden{
  opacity: 0;
}

#Experience{
  margin-left: 15%; 
  margin-bottom: 10%;
}

#Experience #div1{
  z-index:2; 
  margin-left: 5%; 
  margin-top: -45%; 
  color: white; 
  text-shadow: 0px 0px 3px var(--white-glow);
}

#Experience h1{
  font-size: 80px;
}

#AboutMe {
  margin-left: 15%; 
  margin-bottom: 10%;
}

#AboutMe h1{
  font-size: 80px;
}

#AboutMe #div1{
  z-index:2; 
  margin-left: 5%; 
  margin-top: -35%; 
  color: white; 
  text-shadow: 0px 0px 3px var(--white-glow);
}

#Projects{
  margin-left: 15%; 
  margin-bottom: 10%;
}

#Projects #div1{
  margin-left: 5%;  
  margin-top: -45%; 
  color: white; 
  text-shadow: 0px 0px 3px var(--white-glow);
}

#Projects h1{
  font-size: 80px;
}

#ProfilePicture {
  margin-top: 8%;
  margin-left: 5%;
}

#footer{
  display: inline-block;
  width: 100%;
}

#footer h5{
  font-family: futura;
  font-weight: lighter;
  font-size: 15px;
  text-align: center;
}

#githubImage{
  margin-left: 20%;
  margin-bottom: 6.5%;
}

#devpostImage{
  margin-left: 15%;
  margin-bottom: 5%;
}

#devpostImage2{    
  margin-left: 10%;
  margin-bottom: 5%;
}

#headerImage{
  width: 117.5%;
  height: 127.5%;
  display: block;
  margin-left: 67.5%;
  margin-right: auto
}

#box {
  border: 1.5px white;
  border-style: solid;
  box-shadow: 0px 0px 3px var(--white-glow);
}

#githubLink{
  margin-left: 3%;
}