body {
	font-family: "GT Pressura Extended", sans-serif;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: left;
	margin: 0% 30%;
}

*::selection {
	background-color: transparent;
	color: #eb7a12;
}

h1 {
	font-size: 2em;
	font-weight: normal;
}

h1#title {
	transition: all 0.5s;
}

h1#title:hover {
	transform: skewX(-20deg);
}

p {
	font-size: 1.2em;
}
